body{
    margin: 0;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #222020;
    margin-bottom: 0px;
}

li {
    float: left;
}

li a:is(:link, :active, :visited) {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


a:is(:link, :active, :visited).active {
    background-color: #ffe1ab;
    color: black;
}

.news {
    margin: 10px;
    padding: 20px;
    background-color: #ffe1ab;
    
}
.news a{
    background-color: #222020;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
}
.news a:hover{
    
    color: #ffe1ab;
}
.main{

    padding: 10px;
}
